/*
 * shalmi custom template CSS
 *
 * This stylesheet is Bootstrap 4 adapted
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright charmeem soft 2018
 */

/* aimeos.css customization */
body {
    background-color: #fdfdfd;

    /*fixing fixed top overlapping the page content*/
    padding-top: 70px;
    /*line-height: 1px;*/
}

/*    Mini- basket                     */
.basket-mini {
    background-color: #fdfdfd;

}

.basket-mini > a:before {
    color: #545454;
}

.basket-mini-main {
    color: #fff;
    padding:0 5px 0 5px;
    background-color: lightgreen;
}

.basket-mini-main .quantity:before {
    content: "";
}

.basket-mini-main .quantity:after {
    content: "";
}

.basket-mini-product .basket-toggle {
    color: black;
}

/*  Header section
 *   Bootstrap customization
 *   navbar.scss           */

.navbar {
    padding:0;
}

.navbar-default {
    box-shadow: 10px 4px 4px 0px #e1e1e8;
}

/* app.blade customization */
.navbar-brand {
    font-size: 190%; /* this is optimized for the smallest screen<300px */
}

.navbar-brand:first-letter {
    color:lightgreen;
}

/* Styling only 1st and 3rd li element */
.navbar-default .navbar-nav>li:nth-child(-1n+2)>a {
   color: lightblue;
}

/* Styling new arrivals */
.navbar-default .navbar-nav>li:nth-child(3)>a {
   color: mediumseagreen;
}

/** Carousel customization **/
.carousel-inner {
    height:340px;
}
.carousel-caption {
    top:10%;
    /*color:orangered;*/
    color:#357bb5;
}
.img-thumbnail {
    /** to restore bottom border of carousel img thumbnail **/
    height:340px;

}
.card .img-thumbnail {
    /** to restore bottom border of carousel img thumbnail **/
    /*height:340px;*/
    padding:0;
}
/** Changing carousel control icons color etc **/

/*.carousel-control-prev-icon,*/
/*.carousel-control-next-icon {*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*outline: black;*/
    /*background-size: 100%, 100%;*/
    /*border-radius: 50%;*/
    /*border: 1px solid black;*/
    /*background-image: none;*/
/*}*/

/*.carousel-control-next-icon:after*/
/*{*/
    /*content: '>';*/
    /*font-size: 55px;*/
    /*color: red;*/
/*}*/

/*.carousel-control-prev-icon:after {*/
    /*content: '<';*/
    /*font-size: 55px;*/
    /*color: red;*/
/*}*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/** Catalog/search Template customization **/
.aimeos .form-control {
    border-radius:4px;

}

.aimeos .btn-primary, .aimeos .btn-primary:active {
    background-color: #337ab7;
    border: solid 1px #337ab7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.aimeos .modal-footer > button {
    border-radius:4px;
    width:5em;
}

.catalog-filter-search .value, .catalog-filter-search .reset {
     border-color: #555;
}

/*.catalog-filter-search .reset {*/
    /*border-color: #555;*/
/*}*/


/** stopping go button and input field occupying 2 rows **/
.input-group {
    flex-wrap:nowrap;
}

/** Catalog/filter/tree Customization **/
.ccatalog-filter {
    text-align:unset;
}
.catalog-filter-tree {
    margin:0;
}
.catalog-filter-tree > h2 {
    border-bottom:none;
    border-radius: 4px;
    margin-top:-6px;
    float:none;
    /*padding-left:0;
    padding-top: 5px;
    padding-right: 0;*/
    background-color: #e5e5e5;
}
.col-sm-4 {
    padding-right:0;
    padding-left: 0;
}

/** Adjusting minor Responsive glitch for screnn>574<593px **/
@media (max-width: 591px) and (min-width:570px) {
    .basket-mini > a {
        padding: 0;
    }
}

/** removing Category subheading **/
.catalog-filter-tree > ul > li > a > span.cat-name {
    display:none;
}
/** removing only subheader's bottom border **/
.catalog-filter-tree > ul > li > a.cat-item {
    border-bottom:none;
}

/** Replacing JS slideToggle() with Bootstrap
 *  Removing display:none for the ul's except first
 */
ul:not(:first-child) .collapse{
    display:initial;
}

/** Product Lists  **/
.catalog-list .product {
    border-bottom:none;
}

.aimeos .product .text-list h2 {
    font-weight: 500;
    background-color: darkseagreen;
    padding:.4rem 0;
    margin-bottom:0.4rem;
}
.aimeos .product .text-list{
    /*background-color: gold;*/
    background-color: #ebebeb;
    margin:0;
}
.text-muted{
    /*background-color: gold;*/
    background-color: #ebebeb;
    padding-bottom:0.4rem;
}